.pluses {
  position: relative;
  margin-top: -50px;
  margin-bottom: 50px;
}

.pluses__inner {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.plus {
  display: flex;
  flex-direction: row;
  background: white;
  box-shadow: 0 4px 20px #00000014;
  border-radius: 5px;
  padding: 20px 30px;
  gap: 13px;
  align-items: center;
  width: 100%;
}

.plus--right, .plus--left {
  align-items: start;
  flex-direction: column;
  width: 34%;
  max-width: 155px;
  padding: 36px 17px 20px 20px;
  gap: 4px;
}

.plus--left {
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
}

.plus--right {
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
}

.plus__icon {
  width: 22px;
  height: 22px;
  aspect-ratio: 1;
  background: url("../../images/pluses.svg");
}

.plus__icon--lunch {
  background-position-y: 0;
}
.plus__icon--money {
  background-position-y: -22px;
}
.plus__icon--family {
  background-position-y: -44px;
}
.plus__icon--time {
  background-position-y: -66px;
}
.plus__icon--map {
  background-position-y: -88px;
}

.plus__text {
  font-size: 14px;
  line-height: 135%;
}


@media (min-width: 568px) {
  .plus--right, .plus--left {
    width: 16%;
    padding-top: 55px;
  }

  .plus:nth-child(3) {
    align-items: start;
    height: fit-content;
    width: 33%;
    flex-direction: column;
    gap: 4px;
    order: 2 !important;
  }

  .plus:nth-child(2) {
    order: 3 !important;
  }

  .pluses__inner {
    gap: 15px;
  }

  .pluses {
    margin-top: -100px;
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .pluses {
    margin-top: -66px;
    margin-bottom: 70px;
  }
}

@media (min-width: 992px) {
  .plus:nth-child(4) {
    order: 3 !important;
  }

  .plus:nth-child(2) {
    order: 4 !important;
  }

  .plus:nth-child(3), .plus:nth-child(4) {
    align-items: start;
    height: fit-content;
    width: 20%;
    flex-direction: column;
    gap: 4px;
  }
}

@media (min-width: 1200px) {
  .plus:nth-child(3) {
    width: 192px;
    order: 2 !important;
  }

  .plus:nth-child(4) {
    order: 3 !important;
    width: 204px;
  }

  .plus:nth-child(5) {
    order: 4 !important;
    width: 230px;
  }

  .plus:nth-child(2) {
    order: 5 !important;
  }

  .plus:nth-child(3), .plus:nth-child(4), .plus:nth-child(5) {
    padding: 20px;
    align-items: start;
    height: fit-content;
    flex-direction: column;
    gap: 5px;
  }

  .plus--right, .plus--left {
    width: 10%;
    padding-top: 45px;
    gap: 5px;
  }

  .plus__text {
    font-size: 16px;
  }
}